@font-face {
    font-family: 'harry-potter';
    src: url('Fonte/harryp__-webfont.woff2') format('woff2'),
         url('Fonte/harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0px;
    font-family: 'Metal Mania', cursive;
    font-size: 35px;
    background-image: url(../Imagens/floresta.jpg);
    color: rgb(85, 26, 139);
    
}
h1,h2,h3{
    font-family: 'harry-potter';
}

.header {
    margin: 0;
    padding: 0 ;
    background-color: black;
    text-align: center;
}
.header h1{
    margin: 7px;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.header li{
    list-style: none;
}
.header img{
    width: 24px;
}
.header a{
    padding: 0 60px;
    text-decoration: none;
    font-family: 'harry-potter';
}
.header a:hover{
    background-color: darkgreen;
    color: black;
}
.container{
    margin: 0;
    padding: 1px;
    text-align: center;
}
.nav{
    background-color: black;
}
.titulo {
    margin: 50px 0px 50px 200px;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color:rgb(85, 26, 139);
    background-color: black;
}
.titulo h2{
    margin: 13px 27px;
    padding: 15px 0px;
}
